<h1 style="color:red;">Reactive Form</h1>
<form>
    <table border="2">
        <tr>
            <th><h1><b>First Name</b></h1></th>
            <td><input type="text" id="txtFN" name="txtFN" maxlength="10" size="20" required placeholder="Enter First Name"></td>
        </tr>
        <tr>
            <th><h1><b>Last Name</b></h1></th>
            <td><input type="text" id="txtFN" name="txtFN" maxlength="10" size="20" required placeholder="Enter Last Name"></td>
        </tr>
        <tr>
            <th><h1><b>Email</b></h1></th>
            <td><input type="text" id="textEmail" name="textEmail" maxlength="40" size="40" placeholder="Enter First Name"></td>
        </tr>
        <tr>
            <th><h1><b>Gender</b></h1></th>
            <td><input type="radio" id="rbtnMale" name="gender" value="M"/>Male
            <input type="radio" id="rbtnFemale" name="gender" value="F"/>Female</td>
        </tr>
        <tr>
            <th><h1><b>Country</b></h1></th>
            <td><select name="MyCity">
                <option value="select">select</option>
                <option value="Mumbai">India</option>
                <option value="LosAngles">America</option>
                <option value="Kyiv">Ukraine</option>
                <option value="Lahore">Pakistan</option>
                <option value="Pune">India</option>
            </select>
            </td>
        </tr>
        <tr>
            <td><input type="Submit" value="Submit" class="button"/></td>
        </tr>

    </table>
</form>
